#article-page {
    .share-icons{
        svg, img {
            margin: 0 auto;
            width: 18px;
            height: 18px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        a, span {
            float: left;
            margin-left: 5px;
        }
    }
}