#shopify-section-collection-template, #searchContent, #shopify-section-collection-collections {
    margin-top: 160px;

    @media (max-width: 750px) {
        .page-width {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .section-header {
            margin-bottom: 24px;
        }
    }

    .section-header {
        font-family: "Big Caslon" !important;
    }

    .price__badges {
        display: none !important;
    }
    
    .collection-page_underline {
        display: block;
        height: 3px;
        width: 90px;
        background-color: #c50000;
        margin-top: 10px;
    }

    .product-tile__image {
        position: unset;
    }

    .slick-dots {
        bottom: unset;
        li {
            background-color: lightgrey;
            margin: 0;
            height: 2px;

            button {
                height: unset;
            }

            @media (max-width: 960px) {
                width: calc(100% / 4)!important;
            }

            &.slick-active {
                background-color: #000000;                    
            }
        }
    }
}

.variantoverlayNew {
    .variantSelector_overlay {
        position: fixed;
        z-index: 30;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .animate-bottom {
        position: relative;
        animation: animatebottom 0.5s;
       
        @media (max-width: 980px) {
          position: absolute;
          top: 40px;
        }
    }
      
    .animate-top {
        position: relative;
        animation: animatetop 0.6s;
       
        @media (max-width: 980px) {
          position: absolute;
        }
    }
}


@keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0
    }
  
    to {
      bottom: 0;
      opacity: 1
    }
  }
  
  @keyframes animatetop {
    from {
      bottom: 0;
      opacity: 1;
    }
  
    to {
      bottom: -800px;
      opacity: 1;
    }
  }

.selected-swatch {
    /* border: 2px solid black !important;
    border-radius: 50%; */
}

.select-effect {
border: 2px solid black !important;
border-radius: 50%;
}

.sold-out-swatch {
    opacity: 1;
}

.sold-out-swatch:after {
    content: "";
    position: absolute;
    border-top: 2px solid lightgrey;
    width: 44px;
    transform: rotate(45deg);
    transform-origin: 50% 0%;
}

@media (max-width: 768px) {
    .sold-out-swatch:after {
        width: 34px;
    }
}

/* Rose Color Swatches */

.color-swatch[data-rose_color="Red"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_red_on9UbDVgPZ.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Black"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_black_8bHqDMfkjc.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Pink"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_pink_Th1Lcw3y69.png);
    background-size: cover;
}

.color-swatch[data-rose_color="White"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_white_m5v74AKJVC.png );
    background-size: cover;
}

.color-swatch[data-rose_color="Dark Red"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_dark_red_KTGKhggduX.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Burgundy"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_dark_red_KTGKhggduX.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Deep Purple"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_deep_purple_NNGiYl3fbp.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Green"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_green_vCCS45cvhD.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Lavender"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_lavender_pPE3BUw2hX.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Magenta"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_magenta_WYZY_XisKS.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Orange"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_orange_eA7B3aLEe.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Royal Blue"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_royal_blue_3yjdklJq7Y.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Sky Blue"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_sky_blue_Yym6f24gC1.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Light Blue"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_sky_blue_Yym6f24gC1.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Turqoise Blue"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_turquoise_ke9pDJZGg1.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Yellow"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_yellow_TfBjWYiRMm.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Coral"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_coral_fpl-jWYsc.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Neon Yellow"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_neon_yellow_VeF2_Y1wua.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Light Tie Dye"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/TOPDOWN_LightTieDye_QwFHAq9JDSqjq.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Dark Tie Dye"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/TOPDOWN_TieDye_zSTYD_SdxU7JG.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Turquoise Blue"] {
    background: url(https://images-ext-1.discordapp.net/external/WHcaPh9QnOhcnm_F2a4xDFwwNUENYtUuP4zsaTKXMOY/https/ik.imagekit.io/vajwlqjsrw/Roses/Rose_turquoise_ke9pDJZGg1.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Neon Green"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_green_vCCS45cvhD.png);
    background-size: cover;
}

.color-swatch[data-rose_color="Peach"] {
    background: url(https://images-ext-2.discordapp.net/external/vATdJNk9jbufTPq5qxqXfalbtfTyi5pGbtCXXkCieAU/https/ik.imagekit.io/vajwlqjsrw/Roses/Rose_peach_G57pjQyUEe.png);
    background-size: cover;
}

/* Size Swatches */
.color-swatch[data-size="Single"] {
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.color-swatch[data-size="Half dozen (6 Roses)"] {
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.color-swatch[data-size="Dozen"] {
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.color-swatch[data-size="Small (1 Rose)"] {
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.color-swatch[data-size="Medium (25 Roses)"] {
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.color-swatch[data-size="Large (35 Roses)"] {
    border: 1px solid lightgrey;
    border-radius: 50%;
}

/* Box Color */
.color-swatch[data-box_color="Black"] {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="White"] {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Pink"] {
    background-color: pink;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Sapphire"] {
    background-color: #2F346B;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Burgundy"] {
    background-color: darkred;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Emerald"] {
    background-color: #52684C;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Black Suede"] {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="White Suede"] {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Pink Suede"] {
    background-color: #E0B5CD;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Sapphire Suede"] {
    background-color: #2F346B;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Burgundy Suede"] {
    background-color: darkred;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Emerald Suede"] {
    background-color: #52684C;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Black Marble"] {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Pink Marble"] {
    background-color: lightpink;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="White Marble"] {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Royal Blue Suede"] {
    background-color: #2F346B;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Black Leather"] {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Pink Leather"] {
    background-color: lightpink;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="White Leather"] {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Black Suede"] {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Clear"] {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box_color="Marble"] {
    background-color: url(https://images-ext-2.discordapp.net/external/NLMgRaHFkbtu5tfckOdXJYWCD6jUZTm8_nM-n1_FCOk/https/ik.imagekit.io/vajwlqjsrw/swatches/swatch_marble_1gL4JLrlDg7f5.png?width=499&height=499);
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Black Suede"] {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Green Suede"] {
    background-color: #52684C;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Pink Suede"] {
    background-color: #E0B5CD;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Red Suede"] {
    background-color: #A71612;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="White Suede"] {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Blue Suede"] {
    background-color: #2F346B;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Pink Suede"] {
    background-color: #E0B5CD;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="Black Marble"] {
    background-color: #000;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-box="White Marble"] {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

/* Rose Color */
/* Box Material */
.color-swatch[data-box_material="Suede"] {
    background: url(https://images-ext-1.discordapp.net/external/LtKgEItmBSlfekWFR4omdp_WZN7VDfcJYFglISKpDHc/https/ik.imagekit.io/vajwlqjsrw/swatches/swatch_suede_NRPcNEdAoI.png?width=499&height=499);
    background-size: cover;
}

.color-swatch[data-box_material="Marble"] {
    background: url(https://images-ext-2.discordapp.net/external/NLMgRaHFkbtu5tfckOdXJYWCD6jUZTm8_nM-n1_FCOk/https/ik.imagekit.io/vajwlqjsrw/swatches/swatch_marble_1gL4JLrlDg7f5.png?width=499&height=499);
    background-size: cover;
}

.color-swatch[data-box_material="Leather"] {
    background: url(https://images-ext-2.discordapp.net/external/tZcdTiTF5bMLjlM_jp7f6T5qWMjHdU1flWv-VgYpMus/https/ik.imagekit.io/vajwlqjsrw/swatches/swatch_leather_Tq8GUKqASN.png?width=499&height=499);
    background-size: cover;
}

/* Style */
/* Aroma */
.color-swatch[data-aroma="White"] {
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-aroma="Pink"] {
    background-color: lightpink;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-aroma="Green"] {
    background-color: lightgreen;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-aroma="Lavender"] {
    background-color: lavender;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.color-swatch[data-color="Red"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_red_on9UbDVgPZ.png);
    background-size: cover;
}

.color-swatch[data-color="Black"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_black_8bHqDMfkjc.png);
    background-size: cover;
}

.color-swatch[data-color="Pink"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_pink_Th1Lcw3y69.png);
    background-size: cover;
}

.color-swatch[data-color="White"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_white_m5v74AKJVC.png );
    background-size: cover;
}

.color-swatch[data-color="Dark Red"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_dark_red_KTGKhggduX.png);
    background-size: cover;
}

.color-swatch[data-color="Deep Purple"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_deep_purple_NNGiYl3fbp.png);
    background-size: cover;
}

.color-swatch[data-color="Green"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_green_vCCS45cvhD.png);
    background-size: cover;
}

.color-swatch[data-color="Lavender"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_lavender_pPE3BUw2hX.png);
    background-size: cover;
}

.color-swatch[data-color="Magenta"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_magenta_WYZY_XisKS.png);
    background-size: cover;
}

.color-swatch[data-color="Orange"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_orange_eA7B3aLEe.png);
    background-size: cover;
}

.color-swatch[data-color="Royal Blue"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_royal_blue_3yjdklJq7Y.png);
    background-size: cover;
}

.color-swatch[data-color="Sky Blue"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_sky_blue_Yym6f24gC1.png);
    background-size: cover;
}

.color-swatch[data-color="Turqoise Blue"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_turquoise_ke9pDJZGg1.png);
    background-size: cover;
}

.color-swatch[data-color="Yellow"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_yellow_TfBjWYiRMm.png);
    background-size: cover;
}

.color-swatch[data-color="Coral"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_coral_fpl-jWYsc.png);
    background-size: cover;
}

.color-swatch[data-color="Neon Yellow"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/Rose_neon_yellow_VeF2_Y1wua.png);
    background-size: cover;
}

.color-swatch[data-color="Light Tie Dye"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/TOPDOWN_LightTieDye_QwFHAq9JDSqjq.png);
    background-size: cover;
}

.color-swatch[data-color="Dark Tie Dye"] {
    background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/TOPDOWN_TieDye_zSTYD_SdxU7JG.png);
    background-size: cover;
}

.collection-product_image_container {
    cursor: pointer;
    &:hover{
        .slick-arrow {
            display: block!important;
        }

        .flickity-button {
            display: block!important;
        }
    }
    .slick-list {
        height: 18vw !important;
        @media (max-width: 750px) {
            height: 50vw !important;
        }
    }

    .slick-arrow {
        display: none!important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
        background-color: white;
        z-index: 10;
        width: 30px;
        height: 30px;

        &.slick-prev{
            left:0;
        }
        &.slick-next{
            right:0;
        }
    }


    .flickity-button {
        display: none!important;
    }

    .flickity-prev-next-button {
        border-radius: 0;
        width: 30px;
        height: 30px;
        
        &.next {
            right: 0;
        }
        &.previous {
            left: 0;
        }
    }
 
}

@media (max-width: 750px) {
    #shop-all-content li:nth-child(7n) {
        .product-card__image-with-placeholder-wrapper {
            width: 100vw;
            margin-left: -50vw;
            left: 50%;
        }
        .slick-list{
            height: 100vw !important;
        }
    }
}

.stamped-badge {
    .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span {
        display: none!important;
    }
    
    .stamped-product-reviews-badge .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span {
        display: none !important
    }
    
    .stamped-badge-caption span {
        display: none !important
    }
}

#collectionDescription{
    width: 100%;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -25px;
    text-align: center;  
    color:black;
}
  
#collectionReadMoreFade_wrapper {
    top: -30px;
    position: relative;
    height: 0;
  
    @media (max-width: 768px) {
      top: -40px;
    }
}

#collectionReadMoreFade_wrapper {
    top: -30px;
    position: relative;
    height: 0;
  
    @media (max-width: 768px) {
      top: -40px;
    }
}
  
#collectionReadMoreFade {
    height: 30px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
    position: absolute;
  
    @media (max-width: 768px) {
      height: 40px;
    }
}
  

.carousel-scrollbar {
    background-color: lightgrey;
    height: 1px;
    width: 85%;
    margin: 0 7.5%;
}
  
.carousel-scrollbar_bar {
    height: 100%;
    background-color: black;
    width: 33.3333%;
    transition: transform .3s cubic-bezier(.39,.575,.565,1)
} 

.variantSelector_wrapper {
    background-color: white;
}

.openVariantModal, .variant-selector_add_to_bag {
    position: relative;
    .image-spin-wrapper {
        position: absolute;
        right: 25%;
        top: 5px;
    }
}

.klav-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999998;
    background: #000;
    opacity: 0.8;
    cursor: default;
}

.klav-form.hideFromView {
    position:absolute;
    top:-9999em;
    left:-9999em;
}

.close-klav-popup.popup-close-icon {
    position:absolute;
    top:10px;
    right:10px;
}

.klav-popup h2 {
    font-family: 'Big Caslon';
}


.klav-popup-content {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:#fff;
    padding:40px;
    border-radius:5px;
    z-index:99999999999;
    width:450px;
    max-height:100%;
    max-width:100%;
    .isolda.isolda input,
    .dodLKg.dodLKg.dodLKg.dodLKg.dodLKg.dodLKg {
        padding:10px!important;
        height:auto;
        width:100%;
    }
    .kNHevG.kNHevG {
        padding-left:0;
        padding-right:0;
    }
    .eDtNtp.eDtNtp {
        display:block;
    }
    .isolda.isolda {
        display:block;
        padding:0;
    }
    .iQSNSv.iQSNSv {
        padding-left:0;
        padding-right:0;
        .gsAMHf.gsAMHf.gsAMHf.gsAMHf.gsAMHf.gsAMHf {
        display:block;
        padding:15px;
        width:100%;
        }
    }

    @media only screen and(max-width:500px){
        height:300px;
        border-radius:0;
        display:-webkit-flex;
        display:flex;
        align-items:center;
        -webkit-align-items:center;
        width:100%;
        border-radius: 12px;
        .klaviyo-form-Mep6NE{
        min-height:100px;
        }
    }
}

.klav-popup {
    position:relative;
    z-index:9999999999;
}

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}
@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
.fade-out {
    animation: fadeOut ease .5s;
    -webkit-animation: fadeOut ease .5s;
    -moz-animation: fadeOut ease .5s;
    -o-animation: fadeOut ease .5s;
    -ms-animation: fadeOut ease .5s;
}
@keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}

.option_options_wrapper .swatch-wrapper .color-swatch {
    position: relative;
}

.variantSelector-section {
    @media (max-width: 768px) {
        
        .closeVariantSelector {
            position: absolute;
            top: 0;
            min-height: 120px;
            z-index: 3;
            background: transparent;
        }
        .preview-main-option_wrapper {
            z-index: 1;
        }
    }
}

#shop-all-content {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(100% / 4);

    &:nth-child(7n) {
        width: 100% !important;

        .grid-view-item__image-wrapper {
            @media (max-width: 750px) {
                height: 100% !important;
            }
        }

        @media (min-width: 769px) {
            width: 25% !important;
        }
    }
  }
  
  @media (max-width: 768px) {
    justify-content: space-between;
    margin: 0;

    li {
        width: 49% !important;
        padding-left: 0;

        .openVariantModal {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
  }
}