
.collection-collections-spacing {
    margin-top: 130px;
    
    .you-may-like_header {
        font-family: "berlingskeserif-blk-webfont";
        font-size: 2.6em;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
        color: #000;
    }
    
    .you-may-like_header_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        
    .you-may-like_header_underline {
        width: 10%;
        height: 3px;
        background-color: #c50000;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }


    .best_sellers-mobile_cell {
        margin: 20px 0;
    }
    
    .stamped-widget_wrapper {
        display: flex;
        flex-direction: column !important;
    }
    
    
    .you-may-like_header {
        font-family: "berlingskeserif-blk-webfont";
        font-size: 2.6em;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
        color: #000;
    }
    
    @media (max-width: 768px) {
        .you-may-like_header {
            font-size: 1.6em;
        }
    }
    
    
    
    .you-may-like_header_underline {
        width: 10%;
        height: 3px;
        background-color: #c50000;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    
    @media (max-width: 768px) {
        .you-may-like_header_underline {
          width: 20%;
        }
    }
    
    .you-may-like_header_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    .double_img .img-bg .hover_img{
        display: none;
    }
    
    .Best-Sellers-Carousel-Cell {
        &:hover {
            .main_img {
                display: none !important;
            }

            .hover_img {
                display: block !important;
            }

            .best-sellers-form .button-atc {
                visibility: visible !important;
            }
        }

        .Best-Sellers-Title {
            margin-bottom: 3px !important;
        }
    }

    .collection-carousel {
        @media (max-width: 768px) {
            padding: 35px 0 10px;
        }
        .product-loading {
            height: 0;
            padding-bottom: 100%;
            width: 100%;
            background: linear-gradient(90deg,#D8D8D8,#F5F5F5, #D8D8D8);
            animation: imageBackgroundAnimation 2s ease infinite;
        }
    }


    .Best-Sellers-Carousel {
        margin-top: 35px;
        position: relative;
    }
    
    
    @media (max-width: 900px) {
        .best-sellers-form .button-atc {
            visibility: visible !important; 
        }
    }

    .best-sellers-form .button-atc {
        visibility: hidden;
    }


    .collection-product_image_container .slick-list {
        height: unset!important;
    }

    // .grid-view-item__image-wrapper {
    //     background: unset;
    // }
}
.openVariantModal {
    position: relative;
}


.Best-Sellers-Carousel {
    margin-top: 15px;
    .slick-prev, .slick-next {
        display: block;
        background-image: none;
        background-color: #EEE!important;
        padding: 15px;
        border-radius: 50%;
        top: 35%;
        z-index: 2;

        &::before {
            display: none;
        }
        
        &::after {
            content: ' ';
            position: absolute;
            top: calc(50% - 10px);
            width: 20px;
            height: 20px;
            background-size: contain;
        }

        &.disabled {
            display: none;
        }
    }
    .slick-prev {
        left: 20px;
        &::after {
            left: 4px;
            background-image: url("../images/leftArrow_small.png");
        }
    }
    .slick-next {
        right: 20px;
        &::after {
          right: 4px;
          background-image: url("../images/rightArrow_small.png");
        }
    }

    .grid-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .products-on-page.glider-slide {
        margin-left: 20px;

        @media (max-width: 767px) {
            margin-left: 0;
        }

        .grid__item {
            padding-left: 0;

            @media (max-width: 767px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.carousel-scrollbar {
    height: 2px;
}

.collection-carousel-button {
    text-transform: uppercase;
    margin-top: 30px;

    @media (max-width: 767px) {
        margin-top: 15px;
    }
}

.carousel-header_wrapper .carousel-header {
    font-family: "vinterlight";
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 767px) {
        font-size: 22px;
    }
}
  


.grid-view-item__image-wrapper {
    @media (max-width: 768px) {
      height: unset;
    }
}
