.site-header__logo-image {
    max-width: 250px;
}
    
.announcement-bar {
    background-color: #000000;
}
    
/*
.text_image_banner-container_outer {
    margin-top: 110px !important;
}

@media (max-width: 768px) {
    .text_image_banner-container_outer {
        margin-top: 115px !important;
    }
}
*/

@media (max-width: 768px) {
    .sidenav-modal {
        padding-top: 90px !important;
    }
}

.announcement-bar__link:hover {
    background-color: #292929;        
}

.announcement-bar__message {
    color: #ffffff;
}

.announcement-bar .slick-dots {
    background-color: #000000;
}

.announcement-bar .slick-dots li button {
    background-color: #000000;
}
.announcement-bar .slick-dots li button:before {
    color: #ffffff;
}

.announcement-bar .slick-dots li.slick-active button:before {
    color: #ffffff;
}

#wrapper-announcement {
    position: absolute;
}

#wrapper-announcement #carousel-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 0.875em;
    font-size: 0.875em;
}

.ann_bars {
    position: relative;
}

.ann_bars .flickity-button-icon {
    position: absolute;
    fill: white;
    height: 20px;
    top: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .ann_bars .flickity-button-icon {
        display: none;
    }
}

#annoucmentBar_prev_button {
    left: 20px;
}

#annoucmentBar_next_button {
    right: 20px;
}

.lazy-load-image-background {
    display: block!important;
}

.no-scroll, .cart-drawer-open {
    overflow: hidden;
}

@media (min-width: 769px) {
    .no-scroll, .cart-drawer-open {
        padding-right: 20px;
    }
}