.fs-has-links::after { padding:4px 8px; color:#ffffff; content:"SHOP NOW" } 
.fs-desktop .fs-entry-container { width:20% !important; padding-top:20% !important } 
.fs-mobile .fs-entry-container { width:50% !important; padding-top:50% !important } 
.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Times New Roman, serif; font-style:normal; font-weight:normal; font-size:14px } 
div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-style:normal; font-weight:normal; font-size:14px } 
.fs-wrapper div.fs-text-container * { color:#ffffff } 
.fs-wrapper div.fs-text-container { background-color:rgba(0, 0, 0, 0.8); margin:0px } 
div.fs-entry-date { display:none } 
div.fs-entry-title { display:none } 
.fs-wrapper div.fs-timeline-entry { margin:1px } 
.fs-wrapper {
  background-color: white !important;
}

@media(max-width: 768px){
  .fs-entry-container { width: 50% !important; padding-top: 50% !important; }
}