.product-template__container {
  margin-top: 115px;

  .product-single__title {
    text-transform: uppercase;
  }

  .pdp-carousel-main {
    margin-bottom: 30px !important;
    
    .slick-arrow {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      background-color: white;
      z-index: 10;
      width: 45px;
      height: 45px;
      display: unset!important;
      
      &.slick-next {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAc0AAAHNAZ7y004AAAGjSURBVGjexZm/LkRREMY/IiIeQKIUlUah8SJ2sXqFh9CoFWqFh0BWiMZ7iF7iTydCskQhK+zMnJnvu3KrPTOb3y8395wzZw5GsB8s4RRPuMMBZr3czOOF1/Dw/eMa8x0LfOIffwwIFKzQAu5/DdIVrNDhn8NkBSt0NSFAVbBCxxNDRAUrtIIXvYId3MCbWsELyxX8hJ5WIZIiVYglCRWiaTKFeGJfo9CSKlFoS+7jna3Qmr7JVmj/A1kh89KoCrkPh6iQnTxbLIX8AkJSqCyiFIXaRkJQqG6m21WFekFRVGAUVSUFTmE5yCuwimtL4RLTcgFHYa8DAVPhvBuBnX8VMPAj7Oo/Qgt/hin1NLTwF5hTL0QFPGMpLuHrm1ERX92Oy/haQULAV0oyCj5flJLw2bKchs8dTIj4zNGMim8/nJLxrcdzOr6tQSHAt7RoJPh4k0qEj7bpZPhYo1KIj7RqpXi/WS3Ge+36gRpvX1is4lWNtwVO9Hhb4EaPtwWO9HhbYHHs2laE92bBOp61eH8dGFcY8vGRlXD56/r+FvuYUVzffwBwTnk0pBTeqAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAASdEVYdEVYSUY6T3JpZW50YXRpb24AMYRY7O8AAAAASUVORK5CYII=);
        right: 20px;
      }
  
      &.slick-prev {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAc0AAAHNAZ7y004AAAGMSURBVGjevdkxTgJREMbxD2OM8QAmlsbKhoKGiwgq9BYewobagpqCQ6jBYGy8h7E3QemI0WQFC6OEnffezHyTrYCB/y8EliWDCv4HtnGFZ7zjBkfJWUJ+F5PfG3O0gwHL/P2/OxIEdn51zHAQBNiYXx3DEEBtvsJTAEDIVxjTAWL+A00yQMx/oUf+FiTyffJ5wJY3A6x5I8CeNwE88gaAT14N8MorAX55FcAzrwD45osB3vlCgH++CMDIFwA4+WwAK58J4OWzAMx8BoCbTwLY+QSAnxcBaOCWnZcBF/y8DLjj57WAXgzgUvtnwwuwhSmfID+4h0c2IfWwTDinA/iEnBEqIW9IJpzRAUxC/iCJUDJKIZQNy4RTOoBBKH+CM0HzprkSdB8cmdClAxKEzxKC/gTiRLCcRGVChw7wIVh/TM0E+wWFkeBxUSUTTgKWVhaC18W1RFjgOGJlIxFGMUuresJD1NqujnAdt7jcRHjFfuTqdp3whlb08vovYSbnKYDli+5ggJef9f1havYbZZ55NDtYaokAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAEnRFWHRFWElGOk9yaWVudGF0aW9uADGEWOzvAAAAAElFTkSuQmCC);
        left: 20px;
      }
    }
    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }
}

.optionBtn {
  border-radius: 3px;
  border: 2px #e5e5e5 solid;
  background-color: white;
  font-family: "Big Caslon";
  text-transform: uppercase;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%
}

.optionDefault {
  color: black;
  transition: all 0.3s ease-in-out
}

.shipping-tout {
  display: flex;
  flex-direction: row;
  color: #5EC86D;

  p {
    color: #5EC86D;
    font-size: .8em;
    margin-left: 5px;
    font-weight: 600;
    font-family: Verdana, sans-serif
  }
}

.product-features {
  display: grid;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.product_accordions-container {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
}

.select-share {
  display: flex;
  justify-content: center;
}
.mobile-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

#AddToCart {
  position: relative;
  .image-spin-wrapper {
    position: absolute;
    right: 25%;
    top: 5px;
  }
  @media (max-width: 768px) {
    width: 100% !important;    
  }
}
.top0 {top: 0!important}
.product-single__meta {
  padding: 0 10px;
}
.mobile-select-label, .select-share select, .share-btn-custom, .master-selector {
  display: none;
}
.product-form__cart-submit {
  
}
.product-form__item {
  margin-bottom: 0px !important;
}
.product-form {
  padding-top: 1rem; 
}
.shopify-payment-button__button {
  background-color: black !important;
  color: white !important;
  font-family: 'Proxima Condensed Extra Bold Alt',sans-serif !important;
  height: 48px !important;
  border-radius: 3px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}
.shopify-payment-button__button:hover {
  background-color: black !important;
  color: white !important;
}

.product-single__description {
  margin-top: 0 !important;
}

.product-single__description .content p iframe{
  max-width: 100%;
  width: 100%;
}

.social-sharing {
  display: none !important;
}
.price__sale .sale-default-price {
  color: #dedede !important;
}
.product-price {
  color: black !important;
}
.price-item--sale {
  color: black !important;
}

.shopify-payment-button__more-options {
  display: none;
}
.thumbnails-wrapper {
  display: none;
}
.template-product .main-content {
  padding-top: 0;
}
.klaviyo-bis-trigger {
  color: white !important;
  background-color: black;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  font-weight: bold;
  margin-bottom: 20px !important;
  border: 2px solid black !important;
  width: 100% !important;
} 
.klaviyo-bis-trigger:hover {
  background-color: white !important;
  border: 2px solid black;
  color: black !important;
  margin: 0px;
}
// .klav-popup-trigger, .add {
//   display: none !important;
// }

.product-single__media-wrapper {
  img {
    width: 100%;
    background: #F1F2F1;
  }
}

.accordion_content p {
  overflow-wrap: break-word;
}