.slick-prev, .slick-prev:hover {
  background-image: url("../images/leftArrow_small.png");
  background-size: contain;
  left: 0px;
  &:hover {
    background-image: url("../images/leftArrow_small.png");
    background-size: contain;
  }
  &.slick-disabled {
    opacity: 0.3;
    &:hover, &:focus {
      background-image: url("../images/leftArrow_small.png");
      background-size: contain;
    }
  }

  .announcement-bar & {

  }
}
.slick-next, .slick-next:hover {
  background-image: url("../images/rightArrow_small.png");
  background-size: contain;
  right: 0px;
  &:hover {
    background-image: url("../images/rightArrow_small.png");
    background-size: contain;
  }
  &.slick-disabled {
    opacity: 0.3;
    &:hover, &:focus {
      background-image: url("../images/rightArrow_small.png");
      background-size: contain;
    }
  }
  
  .announcement-bar & {
    
  }
}
.slick-next:before, .slick-prev:before {
  content: none;
}

.slick-slider {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.you-may-like_header {
  font-family: "vinterlight";
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
}

.you-may-like_header_underline {
  width: 14%;
  height: 3px;
  background-color: #c50000;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}