.ajax-cart__modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  max-width: 575px;
  background: getColor("white", "default");
  border: 1px solid #e9e9e9;
  padding: 50px 65px;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility
}

.ajax-cart__modal.is-open {
  opacity: 1;
  visibility: visible
}

.ajax-cart__overlay {
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: getColor("black-40", "variations");
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility
}

.ajax-cart__overlay.is-open {
  opacity: 1;
  visibility: visible
}

.ajax-cart__drawer {
  transition: getTransition();
  position: fixed;
  z-index: 9000000099 !important;
  right: 0;
  width: 404px;
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
  background: #fff;
  will-change: transform;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 999;
  transform: translateX(100%);
  opacity: 0;
  overflow-x: hidden
}

.ajax-cart__drawer.is-open {
  transform: translateX(0);
  opacity: 1
}

.ajax-cart-modal {
  position: relative
}

.ajax-cart-modal__close {
  position: absolute;
  right: 10px;
  top: 10px
}

.ajax-cart-modal__content {
  padding: 20px
}

.ajax-cart-drawer {
  position: relative;
  height: 100%
}

.ajax-cart-drawer__close {
  position: absolute;
  right: 10px;
  top: 5px
}

.ajax-cart-drawer__content {
  padding: 15px 0 19px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 66%
}

@media (max-height: 825px) {
  .ajax-cart-drawer__content {
    max-height: 58% !important
  }
}

@media (max-height: 787px) {
  .ajax-cart-drawer__content {
    max-height: 52% !important
  }
}

@media (max-height: 710px) {
  .ajax-cart-drawer__content {
    max-height: 48% !important
  }
}

@media (max-height: 650px) {
  .ajax-cart-drawer__content {
    max-height: 42% !important
  }
}

@media (max-height: 568px) {
  .ajax-cart-drawer__content {
    max-height: 26% !important
  }
}

.ajax-cart-drawer__content .cart-empty {
  font-size: 18px;
  text-align: center
}

.info-upsell {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 186px;
  text-transform: uppercase;
  margin-left: 10px
}

.carousel-cell>img {
  padding: 0 10px;
  height: 190px;
  width: 284px;
  object-fit: cover
}

.modal-quote {
  font-size: 12px
}

.ajax-cart-drawer__button-and-subtotal {
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  background: #ffffff;
  padding-bottom: 10px;
  font-family: 'Proxima Condensed Extra Bold Alt', sans-serif
}

.ajax-cart-drawer__button-and-subtotal .cart-item-container {
  padding: 0 20px
}

@media screen and (max-width: 767px) {
  .ajax-cart-drawer__button-and-subtotal .cart-item-container {
    padding: 0 10px
  }
}

.ajax-cart-drawer__buttons .button:last-child {
  margin-top: auto
}

.ajax-cart-item__single {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 2px solid red
}

.ajax-cart-item__image {
  width: 100px
}

.ajax-cart-item__remove {
  right: 5px;
  width: 15px;
  height: 15px;
  background: url("data:image/svg+xml; base64,PHN2ZyBjbGFzcz0iaWNvbiBpY29uLWNsb3NlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGQ9Ik0xNS44OSAxNC42OTZsLTQuNzM0LTQuNzM0IDQuNzE3LTQuNzE3Yy40LS40LjM3LTEuMDg1LS4wMy0xLjQ4NXMtMS4wODUtLjQzLTEuNDg1LS4wM0w5LjY0MSA4LjQ0NyA0Ljk3IDMuNzc2Yy0uNC0uNC0xLjA4NS0uMzctMS40ODUuMDNzLS40MyAxLjA4NS0uMDMgMS40ODVsNC42NzEgNC42NzEtNC42ODggNC42ODhjLS40LjQtLjM3IDEuMDg1LjAzIDEuNDg1czEuMDg1LjQzIDEuNDg1LjAzbDQuNjg4LTQuNjg3IDQuNzM0IDQuNzM0Yy40LjQgMS4wODUuMzcgMS40ODUtLjAzcy40My0xLjA4NS4wMy0xLjQ4NXoiLz4KPC9zdmc+Cg==") center no-repeat;
  background-size: cover;
  cursor: pointer
}

.success {
  background-color: #5cb85c !important;
  color: #fff !important
}

.ajax-cart-drawer__button-and-subtotal.is-hidden {
  display: none
}

.free-shipping-heading.empty {
  display: none
}

.ajax-cart-top-heading-container {
  padding: 20px 10px 20px;
  text-align: center
}

.ajax-cart-top-heading-container .items-in-cart {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.26667rem;
  line-height: 1.8;
  text-transform: uppercase;
  margin: 0
}

.ajax-cart-drawer__close.js-ajax-cart-drawer-close {
  top: 24px;
  right: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: normal
}

.ajax-cart-top-heading-container {
  padding: 20px 20px;
  text-align: center;
  height: 60px
}

.ajax-cart-top-heading-container .items-in-cart {
  color: #000;
  font-family: "Big Caslon", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.8;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1.5px;
  text-align: left
}

.ajax-cart-drawer__close.js-ajax-cart-drawer-close {
  top: 21px;
  right: 30px;
  font-weight: 500;
  font-size: 20px
}

.free-shipping-heading {
  background: #F6F2E2;
  text-align: center;
  padding: 8px;
  font-style: italic;
  font-size: 14px
}

.carousel>div>div>div>.product__form>.product-form>form>.selector-wrapper {
  display: none
}

.upsell-price {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  color: #778081
}

.upsell-title {
  font-family: "Big Caslon";
  font-weight: bold;
  font-size: 14px
}

.ajax-cart-drawer {
  font-family: "Poppins", sans-serif
}

.ajax-cart-item {
  padding: 7px 0 10px 0;
  display: flex
}

.ajax-cart-item-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 2em;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5
}

.ajax-cart-item-image-container {
  width: 30%;
  display: flex;
  align-items: center
}

.ajax-cart-item-middle-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px
}

.ajax-cart-item__title {
  font-weight: 700;
  max-width: 186px;
  text-transform: uppercase;
  font-family: 'Big Caslon';
  font-weight: bold
}

.ajax-cart-item__title a {
  text-decoration: none
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .ajax-cart-item__title {
    max-width: 100%
  }
}

.ajax-cart-item__price {
  font-weight: 700;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 14px
}

.ajax-cart-item-properties>p {
  margin-bottom: 0
}

.ajax-cart-drawer__buttons {
  height: 100px
}

.cart-item__qty {
  float: left !important;
  margin-top: 10px;
  display: flex;
  justify-content: space-between
}

.price-and-remove-item-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center
}

.subtotal-heading {
  font-family: "Big Caslon", sans-serif;
  font-weight: bold;
  font-size: 16px
}

.ajax-cart-item-remove {
  width: 2.5em;
  font-weight: 700;
  font-size: 20px;
  color: #d3d1d1;
  cursor: pointer
}

.ajax-cart-item-properties {
  font-size: 12px;
  color: #777
}

.ajax-cart-item-properties .color-circle {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #d3d1d1;
  margin-left: 8px
}

.ajax-cart-item-properties .ajax-cart-item-property.variant-property {
  display: flex;
  align-items: center
}

.ajax-cart-item-properties .variant-item-color[data-color="Red"] {
  background-color: #99051c
}

.ajax-cart-item-properties .variant-item-color[data-color="Burgundy"] {
  background-color: #99051c
}

.ajax-cart-item-properties .variant-item-color[data-color="Black"] {
  background-color: #000
}

.ajax-cart-item-properties .variant-item-color[data-color="Pink"] {
  background-color: #FA8FAC
}

.ajax-cart-item-properties .variant-item-color[data-color="White"] {
  background-color: #E7E9ED
}

.ajax-cart-item-properties .variant-item-color[data-color="Dark Red"] {
  background-color: #4B0E0E
}

.ajax-cart-item-properties .variant-item-color[data-color="Deep Purple"] {
  background-color: #4D2698
}

.ajax-cart-item-properties .variant-item-color[data-color="Green"] {
  background-color: #107009
}

.ajax-cart-item-properties .variant-item-color[data-color="Emerald"] {
  background-color: #107009
}

.ajax-cart-item-properties .variant-item-color[data-color="Lavender"] {
  background-color: #AE62BE
}

.ajax-cart-item-properties .variant-item-color[data-color="Magenta"] {
  background-color: #A2013E
}

.ajax-cart-item-properties .variant-item-color[data-color="Orange"] {
  background-color: #F45A0A
}

.ajax-cart-item-properties .variant-item-color[data-color="Sapphire"] {
  background-color: #252A60
}

.ajax-cart-item-properties .variant-item-color[data-color="Royal Blue"] {
  background-color: #0812B6
}

.ajax-cart-item-properties .variant-item-color[data-color="Sky Blue"] {
  background-color: #75A3D7
}

.ajax-cart-item-properties .variant-item-color[data-color="Turqoise Blue"] {
  background-color: #0D9EC5
}

.ajax-cart-item-properties .variant-item-color[data-color="Yellow"] {
  background-color: #E0A100
}

.ajax-cart-item-properties .variant-item-color[data-color="Coral"] {
  background-color: #F2847A
}

.ajax-cart-item-properties .variant-item-color[data-color="Neon Yellow"] {
  background-color: #CCB300
}

.ajax-cart-item-properties .variant-item-color[data-color="Light Tie Dye"] {
  background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/TOPDOWN_LightTieDye_QwFHAq9JDSqjq.png);
  background-size: cover
}

.ajax-cart-item-properties .variant-item-color[data-color="Dark Tie Dye"] {
  background: url(https://ik.imagekit.io/vajwlqjsrw/Roses/TOPDOWN_TieDye_zSTYD_SdxU7JG.png);
  background-size: cover
}

.ajax-cart-item-remove i {
  padding-right: 5px
}

.ajax-cart-drawer__button-and-subtotal .js-ajax-checkout-button {
  margin: auto;
  width: 100%;
  padding: 11px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none
}

.ajax-cart-drawer__button-and-subtotal .js-ajax-checkout-button:hover {
  color: #fff
}

.cart-subtotal-container {
  margin-top: 10px;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  font-weight: 700
}

span.subtotal-amount {
  font-weight: bold;
  font-family: 'Big Caslon'
}

.ajax-cart-item__price span {
  line-height: normal;
  font-weight: 100
}

span.compare-at-line-price {
  color: rgba(17, 17, 17, 0.2)
}

@media screen and (max-width: 1025px) {
  .header-navs.u-hidden\@tab-down {
    display: block !important
  }

  .ajax-cart__drawer {
    width: 100%
  }

  .ajax-cart-drawer__close.js-ajax-cart-drawer-close {
    right: 10px
  }
}

@media screen and (max-width: 767px) {
  .ajax-cart__drawer {
    overflow-y: scroll
  }

  .ajax-cart-drawer__button-and-subtotal {
    bottom: 0;
    margin-bottom: 10px
  }
}

@media screen and (max-width: 320px) {
  .ajax-cart-drawer__content {
    max-height: 328px
  }
}

.js-qty {
  display: flex
}

.js-qty>button {
  height: 30px;
  min-height: 30px;
  outline: none;
  border: solid 1px #a09f9f;
  width: 30px;
  background-color: #fff;
  color: #000
}

.js-qty>button.js-qty__adjust--minus {
  border-right: none
}

.js-qty>button.js-qty__adjust--plus {
  border-left: none
}

.js-qty>input[type="text"] {
  height: 30px;
  min-height: 30px;
  text-align: center;
  width: 25px;
  padding: 0 !important;
  border: solid 1px #a09f9f;
  border-right: none;
  border-left: none
}

.hs-content-discounts-calculate-checkout {
  padding: 0px 25px;
  border-bottom: 1px solid #eeeeee
}

.hs-rewards-content {
  padding: 20px 20px;
  border-bottom: 1px solid #e5e5e5
}

.hs-progess-content {
  margin: 0 auto 25px;
  position: relative;
  width: 100%
}

.hs-text-free-shipping {
  font-size: 14px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 10px
}

#hs_shipping_progress {
  width: 100%;
  border-radius: 14px;
  background: #f8f8f8
}

#hs_shipping_bar {
  background: #000000;
  height: 10px;
  border-radius: 14px
}

.hs-progess-content .hs-progress-indicator {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 100%;
  text-transform: uppercase;
  text-align: center
}

.hs-progess-content .hs-progress-indicator:first-of-type {
  left: 1px;
  transform: translateX(-50%)
}

.hs-progess-content .hs-progress-indicator:nth-of-type(2) {
  left: 25%;
  transform: translateX(-50%)
}

.hs-progess-content .hs-progress-indicator:nth-of-type(3) {
  left: 50%;
  transform: translateX(-50%)
}

.hs-progess-content .hs-progress-indicator:nth-of-type(4) {
  left: 75%;
  transform: translateX(-50%)
}

.hs-progess-content .hs-progress-indicator:nth-of-type(5) {
  right: 1px;
  transform: translateX(50%)
}

.hs-add-discount {
  border-top: 1px solid #eeeeee;
  padding: 20px 25px;
  width: 100%;
  bottom: 115px;
  position: absolute
}

.hs-success-code-discount {
  position: relative
}

.hs-discount-heading,
.hs-note-heading {
  color: #000000;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  margin: 0;
  text-transform: inherit;
  letter-spacing: inherit
}

.hs-content-discount-add {
  position: relative
}

button.hs-apply-discount {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 14px;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 500;
  width: 30%;
  height: 40px;
  line-height: 0px;
  outline: none;
  border: 1px;
  border-style: solid;
  background-color: #000000;
  border-color: #000000 !important;
  border-radius: 0px 2px 2px 0px !important;
  color: #ffffff;
  border-left: 0px
}

input.hs-discount-code {
  border: 1px;
  border-style: solid;
  border-radius: 2px 0px 0px 2px;
  border-color: #000000 !important;
  box-sizing: border-box !important;
  color: #000 !important;
  outline: none;
  width: 70% !important;
  padding: 10px 10px 10px 10px;
  font-size: 14px !important;
  line-height: 14px;
  margin: 0;
  height: 40px !important
}

.hs-apply-discount {
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  border: 0px;
  border-color: #000000;
  border-style: none;
  box-sizing: border-box !important;
  box-shadow: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 59%;
  margin-right: 2%;
  min-width: auto !important;
  vertical-align: middle;
  line-height: 0px;
  height: 42px;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.upsell-container {
  width: 100%;
  margin: 0 5%;
  position: absolute;
  bottom: 230px;
  transition: opacity 0.4s
}

.upsell-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px
}

.upsell-product_img {
  width: 20%;
  margin-left: 10px
}

.upsell-product_img img {
  width: 100%;
  object-fit: cover
}

.upsell-product_info {
  width: 50%;
  padding-left: 10px;
  font-family: 'Big Caslon';
  font-size: 17px
}

.upsell-product_add {
  width: 55%;
  text-align: center;
  display: flex;
  align-items: center
}

.upsell-add_button {
  padding: 15px
}

.upsell-product_title {
  font-weight: 700;
  font-size: 15px
}